POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=tilda_api
POSTGRES_PASSWORD=
POSTGRES_DATABASE=tilda_api
POSTGRES_POOL_SIZE=5
POSTGRES_MAX_OVERFLOW=20
POSTGRES_URL = 
POSTGRES_ECHO=False


KAFKA_ENABLED=
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_CLIENT_ID=tilda-api
KAFKA_TILDA_JOB_CREATED_TOPIC=tilda.job.created


GOOGLE_DRIVE_ACCESS_TOKEN=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_DRIVE_TIMEOUT_SECONDS=60

FILE_DOWNLOADER_DIR=storage/tilda_downloads
FILE_DOWNLOADER_MAX_SIZE_MB=25
FILE_DOWNLOADER_ALLOWED_EXTENSIONS=pdf,doc,docx,xls,xlsx,csv,png,jpg,jpeg
