APP_DB_SCHEMA=integration_tilda

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=tilda_api
POSTGRES_PASSWORD=
POSTGRES_DATABASE=tilda_api
POSTGRES_POOL_SIZE=5
POSTGRES_MAX_OVERFLOW=20
POSTGRES_URL = 
POSTGRES_ECHO=False


KAFKA_ENABLED=
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_CLIENT_ID=tilda-api
KAFKA_TILDA_JOB_CREATED_TOPIC=tilda.job.created

# TODO удалить paramiko + VPS
VPS_STORAGE_HOST=64.188.99.24
VPS_STORAGE_PORT=22
VPS_STORAGE_USERNAME=root
VPS_STORAGE_PASSWORD=
VPS_STORAGE_PRIVATE_KEY_PATH=
VPS_STORAGE_REMOTE_DIR=upload
VPS_STORAGE_PUBLIC_BASE_URL=
VPS_STORAGE_TIMEOUT_SECONDS=30

FILE_DOWNLOADER_DIR=storage/tilda_downloads
FILE_DOWNLOADER_MAX_SIZE_MB=25
FILE_DOWNLOADER_ALLOWED_EXTENSIONS=pdf,doc,docx,xls,xlsx,csv,png,jpg,jpeg

WORKER_ID=tilda-worker
WORKER_POLL_INTERVAL_SECONDS=5
WORKER_ERROR_BACKOFF_SECONDS=10
WORKER_LOCK_SECONDS=300
WORKER_RETRY_DELAY_SECONDS=300
WORKER_MAX_ATTEMPTS=10
WORKER_SHUTDOWN_GRACE_SECONDS=30
