APP_DB_SCHEMA=integration_tilda
APP_LOG_LEVEL=INFO

WEBHOOK_API_KEY_TRANSPORT=header
WEBHOOK_API_KEY_NAME=X-Tilda-Webhook-Key
WEBHOOK_API_KEY=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=tilda_api
POSTGRES_PASSWORD=
POSTGRES_DATABASE=tilda_api
POSTGRES_POOL_SIZE=5
POSTGRES_MAX_OVERFLOW=20
POSTGRES_ECHO=False

NEXTCLOUD_BASE_URL=
NEXTCLOUD_USERNAME=
NEXTCLOUD_APP_PASSWORD=
NEXTCLOUD_DAV_USER_ID=
NEXTCLOUD_REMOTE_DIR=tilda
NEXTCLOUD_PUBLIC_BASE_URL=
NEXTCLOUD_TIMEOUT_SECONDS=30

FILE_DOWNLOADER_DIR=storage/tilda_downloads
FILE_DOWNLOADER_MAX_SIZE_MB=25
FILE_DOWNLOADER_ALLOWED_EXTENSIONS=zip,rar

WORKER_ID=tilda-worker
WORKER_POLL_INTERVAL_SECONDS=5
WORKER_ERROR_BACKOFF_SECONDS=10
WORKER_LOCK_SECONDS=300
WORKER_RETRY_DELAY_SECONDS=300
WORKER_MAX_ATTEMPTS=10
WORKER_SHUTDOWN_GRACE_SECONDS=30
